<div id="realisations" class="container mx-auto mt-10 py-5 w-8/12">
	<h3 class="font-title text-2xl text-center">
		Realisaties
	</h3>
	<hr class="border bg-gray-900 text-gray-900 mx-auto mt-1 w-2/12 mb-5">
	<!-- <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3"> -->
	<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3">
		<realisation-tile title="Project 4.0" short="Voor de stad herentals maakten we in team een smart city concept."
			[tags]="['ASP.NET core', 'React']">
			<div class="flex justify-center">
				<img src="../../../assets/images/Project 4.0.jpg" alt="Project 4.0"
					class="rounded-sm w-5/6 object-contain">
			</div>
			<div class="text-justify w-5/6 mx-auto">
				<p class="pb-3">
					Voor het project 4.0 kregen we van de stad Herentals de opdracht om een proof-of-concept om
					Herentals te transformeren tot een smartcity. Met deze applicatie kon de stad dan snel en makkelijk
					de vuilnisbakken doorheen de stad monitoren via ingebouwde sensoren en een microcontroller. Ook
					konden enquêtes bekeken worden en via een kiosk in de stad worden ingevuld.
				</p>
				<p class="pb-3">
					De webapplicatie is gemaakt met React, de backend is gemaakt met ASP.NET core die gehost is op Azure
					en als monitoring voor de vuilbakken werd gebruik gemaakt van een ESP microcontroller. Ik specifiek
					heb vooral gewerkt aan de backend in ASP.NET core en ook heb ik soms geholpen met de front-end.
					Hiernaast was ik ook de project leider van onze groep in de realisatiefase.
				</p>
				<p>
					Als eerste opdracht met een "echte" opdrachtgever, heb ik beter geleerd hoe het ontwikkelen van een
					oplossing in zijn werk gaat wanneer je in het werkveld stapt. Ook als project leider heb ik meer
					geleerd over communicatie met een klant/opdrachtgever, hoe je best een team aanstuurt en wat er
					allemaal bij komt kijken om efficiënt een team te leiden.
				</p>
			</div>
		</realisation-tile>
		<realisation-tile title="Sticky notes"
			short="Voor het opo Mobile development ontwikkelden we in team een AR app." [tags]="['Flutter', 'AR']">
			<iframe width="800" height="450" src="https://www.youtube.com/embed/zwD3F6UhbCA"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen class="mx-auto w-5/6 object-contain"></iframe>
			<div class="text-justify w-5/6 mx-auto">
				<p class="pb-3">
					Als opdracht voor het opleidingsonderdeel Mobile development maakten een medestudent en ik een app
					waarmee u in augmented reality notities kunt plakken op een object en daarna ook de notities kunt
					bekijken, bewerken of verwijderen in het overzicht.
				</p>
				<p class="pb-3">
					Deze applicatie is gemaakt in flutter waarbij ik vooral bezig ben geweest met het niet AR gedeelte
					omdat je geen IOS apps kunt maken op een Windows computer en het AR gedeelte dus niet kon testen.
				</p>
				<p>
					Dit was de eerste grote applicatie die ik gemaakt heb in Flutter en heb dus ook veel bijgeleerd over
					het framework. Het enige spijtige is dat je niet op IOS kunt debuggen met een Windows computer.
				</p>
			</div>
		</realisation-tile>
		<realisation-tile title="Festival site" [tags]="['PHP']"
			short="Onze opdracht voor het opo Project PHP was het ontwikkelen van een site voor een festival">
			<embed src="https://projectphp31.sinners.be" width="800" height="450" class="w-5/6 mx-auto object-contain">
			<div class="text-justify w-5/6 mx-auto">
				<p class="pb-3">
					De opdracht die we kregen tijdens de projectweek in het tweede jaar en het opo Project PHP was het
					ontwikkelen van een site voor het organiseren van een festival. Met deze applicatie kon je als gast
					de line-up en het nieuws bekijken maar ook na het aanmaken van een account tickets kopen. Natuurlijk
					waren er ook beheersfuncties voorzien waarmee de administratoren alle items op de site konden
					bewerken of verwijderen.
				</p>
				<p class="pb-3">
					In dit groepswerk ben ik aan de slag gegaan als projectleider en heb ik ook verschillende pagina’s
					zoals 1 van de beheer pagina’s ontwikkeld.
				</p>
				<p class="pb-3">
					Dit project heeft mij een eerste kennismaking gegeven met leiding geven en een volledig project
					ontwikklen van analyse tot aflevering aan de klant. Ik denk dan ook dat ik hiermee een grote stap
					heb gezet om een betere projectmatige werker te worden.
				</p>
				<p>Sommige functionaliteiten kunnen niet getoond worden op deze pagina omwille van de CORS (Cross-origin
					Resource Sharing) en CSRF (Cross-site Request Forgery) beveiliging in de webapplicatie. Het
					volledige project vind u hier:
					<a target="_blank" class="text-gray-600 hover:text-gray-900 transition duration-200"
						href="https://projectphp31.sinners.be/">projectphp31.sinners.be</a>
				</p>
			</div>
		</realisation-tile>
		<realisation-tile title="Nieuws app" [tags]="['Angular','ASP.NET core']"
			short="Als opdracht voor Angular ontwikkelde ik een nieuws site.">
			<div class="flex justify-center">
				<img src="../../../assets/images/Nieuws app.jpg" alt="Nieuws app"
					class="rounded-sm w-5/6 object-contain">
			</div>
			<div class="text-justify w-5/6 mx-auto">
				<p class="pb-3">
					Voor deze opdracht maakte ik gebruik van Angular als front-end en ASP.NET core als backend om een
					nieuws site te ontwikkelen. Functionaliteiten zoals artikels lezen en liken of er op reageren is
					niet het enige ook kunnen artikels worden beheerd door redacteurs die nieuwe artikels kunnen
					schrijven en die dan worden goedgekeurd door de hoofdredacteur.
				</p>
				<p>
					Dit was mijn eerste grote opdracht in een ander front-end framework dan JQuery. Hierdoor heb ik
					kunnen kennismaken met een moderner framework en hoe nieuwe webapplicaties kunnen ontwikkeld worden.
				</p>
			</div>
		</realisation-tile>
	</div>
</div>