<div id="whoami" class="container mx-auto mt-10 py-5 w-8/12">
	<h3 class="font-title text-2xl text-center">
		Wie ben ik
	</h3>
	<hr class="border bg-gray-900 text-gray-900 mx-auto mt-1 w-2/12 mb-5">
	<div class="md:flex">
		<div class="mx-auto md:w-4/5 mb-5">
			<img src="../../../assets/images/ferre_snyers.jpg" class="w-4/5 rounded-sm" alt="Ferre Snyers">

		</div>
		<div class="mx-auto md:ml-5 md:w-4/5 flex-grow-0 md:text-justify">
			<p>
				Ik ben een 20-jarige student Toegepaste Informatica met afstudeerrichting Applicatie onwikkeling aan de
				Thomas More hogeschool.
				Wanneer mijn studies zijn afgerond zou ik graag aan de slag gaan als Back-end of Embedded Developer.
			</p>
			<p class="mt-3">
				Door het vele groepswerken in de opleiding ben ik uitgegroeid tot een teamspeler en projectmatige
				werker.
			</p>
			<p class="mt-3">
				Natuurlijk ben ik niet alleen bezig met studeren, mijn hobbies zijn onder andere piano en saxofoon
				spelen.
			</p>
			<div class="mt-3">
				<p>
					Hieronder vind u enkele van mijn technische skills:
				</p>
				<ul class="list-disc ml-5">
					<li>C# (ASP.NET core, WPF)</li>
					<li>PHP (Laravel, CakePHP)</li>
					<li>Java (Spring)</li>
					<li>Flutter</li>
				</ul>
				<p>U kunt al mijn skills hieronder vinden in mijn cv.</p>
			</div>

			<div class="grid grid-cols-4 lg:grid-cols-6">
				<div class="hidden lg:block lg:w-1/5"></div>
				<a class="no-underline hover:no-underline text-gray-800 hover:text-gray-200 
				hover:bg-gray-800 h-12 w-12 flex items-center mx-1 border-2 mt-8 font-title font-semibold 
				border-gray-800 rounded-full transition duration-500 justify-center text-lg" target="_blank"
					href="../../../assets/cv_ferre_snyers.pdf">
					CV
				</a>
				<a class="no-underline hover:no-underline text-gray-800 hover:text-gray-200 
				hover:bg-gray-800 h-12 w-12 flex items-center mx-1 border-2 mt-8 font-title font-semibold 
				border-gray-800 rounded-full transition duration-500 justify-center text-xl" href="mailto:ferresnyers@hotmail.com">
					<fa-icon [icon]="mail"></fa-icon>
				</a>
				<a class="no-underline hover:no-underline text-gray-800 hover:text-gray-200 
				hover:bg-gray-800 h-12 w-12 flex items-center mx-1 border-2 mt-8 font-title font-semibold 
				border-gray-800 rounded-full transition duration-500 justify-center text-xl" target="_blank"
					href="https://www.linkedin.com/in/ferre-snyers/">
					<fa-icon [icon]="linkedIn"></fa-icon>
				</a>
				<!-- <a class="no-underline hover:no-underline text-gray-800 hover:text-gray-200 
				hover:bg-gray-800 h-12 w-12 flex items-center mx-1 border-2 mt-8 font-title font-semibold 
				border-gray-800 rounded-full transition duration-500 justify-center text-2xl" target="_blank"
					href="https://twitter.com/Ferwardo">
					<fa-icon [icon]="twitter"></fa-icon>
				</a> -->
				<a class="no-underline hover:no-underline text-gray-800 hover:text-gray-200 
				hover:bg-gray-800 h-12 w-12 flex items-center mx-1 border-2 mt-8 font-title font-semibold 
				border-gray-800 rounded-full transition duration-500 justify-center text-2xl" target="_blank"
					href="https://github.com/Ferwardo">
					<fa-icon [icon]="github"></fa-icon>
				</a>
				<div class="hidden lg:block lg:w-1/5"></div>
			</div>
		</div>
	</div>
</div>