<div id="internship" class="bg-gray-400 mt-10 py-5">
	<div class="container mx-auto w-8/12 ">
		<h3 class="font-title text-2xl text-center ">
			Mijn stage:
		</h3>
		<h3 class="font-title text-2xl text-center ">
			Ontwikkelen van een takendashboard
		</h3>
		<hr class="border bg-gray-900 text-gray-900 mx-auto mt-1 w-2/12 mb-5">

		<div>
			<p>
				Zoals elke student aan de IT Factory aan de Thomas More hogeschool in Geel liep ik een stage, meer
				bepaald bij Phronesys.
			</p>
			<p class="pb-3">
				Phronesys is een bedrijf gevestigd in Herentals dat bedrijven ondersteunt in het
				managen van bedrijfsprocessen in de SHEQ (safety, health, environment en quality) sector. Naast een
				webapplicatie is er ook een ondersteunende mobiele applicatie waarmee sommige functies kunnen worden
				gebruikt on-the-go.
			</p>
			<p class="pb-3">
				Mijn opdracht bestond erin om een dashboard te maken voor het management van een klant waarmee ze snel
				een overzicht kunnen krijgen in de uitvoering van de verschillende taken in hun organisatie. Op dit
				moment is het zeer moeilijk om hier een overzicht van te krijgen. Hun huidige workflow bestaat erin
				om eerst de lijsten van taken te downloaden en in Excel zelf grafieken en draaitabellen maken. Met dit
				dashboard maak ik daar een einde aan.
			</p>
			<p class="pb-3">
				Er worden verschillende grafieken getoond die een inzicht geven in de taken, zoals: welke functies
				werken hun taken op tijd af, waar worden de meeste taken toegewezen en andere vragen die het management
				kan hebben. Natuurlijk moeten soms de grafieken met andere criteria worden bekeken, hiervoor heb ik
				verschillende filters ingebouwd die afhankelijk van de gebruikte databank worden getoond en per filter
				worden dan ook verschillende grafieken getoond.
			</p>
			<p class="pb-3">
				Na deze opdracht had ik nog tijd over en kreeg ik de opdracht om de oude cordova app om te zetten naar
				een nieuwe app in flutter. De eerste grondslagen waren hiervoor al gelegd maar er was nog niet veel
				vooruitgang. In dit portfolio ga ik in op een module die als maatwerk werd gemaakt voor Bolckmans. Zij
				zijn een bouwbedrijf waar de lijn tussen klant en leverancier vervaagt. Een klant kan soms een
				leverancier zijn of omgekeerd, daarom willen ze op een snelle en handige manier al deze relaties kunnen
				raadplegen op bijvoorbeeld netwerk events.
			</p>
			<p class="pb-3">
				Als ze dan een contact van een relatie tegenkomen, kunnen ze snel opzoeken aan welke relatie die
				gekoppeld is en de info, contacten en historiek raadplegen. Ook kunnen ze logs toevoegen via de app waar
				bijvoorbeeld kleine dingen over een contact kunnen worden bijgehouden (Bijvoorbeeld: persoon X houdt van
				voetbal) om op een later moment terug te kunnen aanhalen.
			</p>
			<p>
				Voor deze applicatie heb ik gebruik gemaakt van CakePHP 2.X voor de webapplicatie en de backend met
				custom css en bootstrap als styling. De mobiele applicatie werd dan weer gemaakt in Flutter.
			</p>
		</div>

		<div class="mt-10">
			<p>
				<span class="font-semibold">Plan van aanpak: </span> <a class="hover:text-gray-100 duration-500"
					target="_blank" href="../../../assets/Plan van aanpak.pdf">Powerpoint plan van aanpak</a>
			</p>
			<p>
				<span class="font-semibold">Reflectie stage: </span><a class="hover:text-gray-100 duration-500"
					target="_blank" href="../../../assets/Reflectie Ferre Snyers.pdf">Document reflectie</a>
			</p>
			<p>
				<span class="font-semibold">Mockups dashboard: </span><a class="hover:text-gray-100 duration-500"
					target="_blank" href="../../../assets/Mockup dashboard.pdf">Mockups</a>
			</p>
			<p>
				<span class="font-semibold">Realisatie filmpje dashboard: </span><a
					class="hover:text-gray-100 duration-500" target="_blank" href="https://youtu.be/1-gdMMy3Odo">Link
					naar filmpje</a>
			</p>
			<p>
				<span class="font-semibold">Mockups relatie module: </span><a class="hover:text-gray-100 duration-500"
					target="_blank" href="../../../assets/mockup_relations.pdf">Mockups</a>
			</p>
			<p>
				<span class="font-semibold">Realisatie filmpje relatie module: </span><a
					class="hover:text-gray-100 duration-500" target="_blank" href="https://youtu.be/GVd9A-iC2Ns">Link
					naar filmpje</a>
			</p>
		</div>
	</div>
</div>