<div id="home" class="bg-gray-900 md:bg-welcome bg-center bg-cover bg-fixed">
	<div
		class=" backdrop-filter backdrop-blur grid grid-cols-1 text-center self-center content-center h-screen text-white ">
		<h1 class="text-5xl font-title filter-none">Welkom</h1>
		<hr class="border bg-gray-900 text-gray-900 mx-auto mt-1 w-2/12">
		<div>
			<p class="pb-3 w-10/12 sm:w-3/12 mx-auto">
				Welkom op mijn portfolio, ik ben Ferre Snyers en ik hoop dat u meer te weten komt over mij en wat mijn
				kunnen is.
			</p>
			<p class="w-10/12 sm:w-3/12 mx-auto">
				In dit portfolio kunt u mijn cv, bewijsstukken in verband met mijn stage en enkele realisaties vinden.
			</p>
		</div>
		<a class="block no-underline hover:no-underline hover:text-gray-800 text-gray-200 hover:bg-gray-200
		w-max mx-auto border-2 mt-8 font-title font-semibold border-white py-1 px-3 transition duration-500"
			routerLink="/whoami" routerLinkActive="active" routerLinkActiveOption="{exact:true}"
			(click)="scrollToWhoAmI()">Wie ben ik</a>
	</div>
</div>